{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'website/favicon.ico' %}">
    <script src="{% static 'website/js/highlight.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/atom-one-light.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/fontawesome.min.css' %}">

    <title>
        {% if title %}
            {{ title }} | PySnippets
        {% else %}
            PySnippets
        {% endif %}
    </title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">PySnippets</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Главная</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">Настройки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">Выйти</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">Регистрация</a>
                        </li>
                    {% endif %}
                </ul>

                <form class="d-flex" method="get" action="{% url 'search' %}">
                    <div class="input-group">
                        <input name="q" class="form-control" type="search" placeholder="Поиск" aria-label="Search" {% if query %}value={{ query }}{% endif %}>
                        <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    
    <div class="container mt-3">
        <div class="alert alert-warning">
            Сайт находится в разработке. https://t.me/rokitsky_ru
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        {% block content %}{% endblock content %}
   </div>
    <footer class="bg-light text-center p-4 mt-4 fixed-bottom">
        © {% now 'Y' %} Copyright: pysnippets.ru | by Max Rokitsky @exenzi
    </footer>

    <script src="{% static 'website/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'website/js/script.js' %}"></script>
</body>

</html>