[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
pillow = "*"
gunicorn = "*"
psycopg2-binary = "*"
transliterate = "*"
django-allauth = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"

[scripts]
mm = "python manage.py makemigrations"
mi = "python manage.py migrate"
dev = "python manage.py runserver"
csu = "python manage.py createsuperuser --noinput"
