{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% load account socialaccount %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-6 mx-auto">
<h1>{% trans "Sign Up" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>Зарегистрироваться с помощью соц. сети:</p>

<div class="socialaccount_ballot">

  {% include "socialaccount/snippets/provider_list.html" with process="login" %}

  <div class="my-2 login-or">{% trans 'or' %}</div>

</div>
{% endif %}

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary mt-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>


<p class="mt-2">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
</div>
{% endblock %}
