{% extends 'website/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-sm-12 col-md-6 mx-auto">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Регистрация</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mt-2">
                <button class="btn btn-primary" type="submit">Зарегистрироватся</button>
            </div>
        </form>
        <div class="border-top pt-3 mt-3">
            <small class="text-muted">
                Уже есть аккаунт? <a class="ml-2" href="{% url 'login' %}">Войти</a>
            </small>
        </div>
    </div>
{% endblock content %}